#home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/Multimedia/bg-home.png");
}

#home .intro {
  -webkit-animation: desapareceIntro 0.1s linear 5s forwards;
          animation: desapareceIntro 0.1s linear 5s forwards;
}

@-webkit-keyframes desapareceIntro {
  100% {
    opacity: 0;
  }
}

@keyframes desapareceIntro {
  100% {
    opacity: 0;
  }
}

#home .intro .logo {
  width: 25rem;
  position: relative;
  bottom: 2rem;
  left: 5rem;
}

@media only screen and (max-width: 425px) {
  #home .intro .logo {
    width: 10rem;
  }
}

#home .intro .libro {
  position: absolute;
  width: 36.8rem;
  height: 36.4rem;
  left: 663px;
  top: 176px;
  -webkit-animation: caidaLibro 3s ease forwards;
          animation: caidaLibro 3s ease forwards;
}

@-webkit-keyframes caidaLibro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes caidaLibro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#home .intro h1 {
  font-family: 'Julius Sans One';
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
  -webkit-text-stroke: 1px #DDAA8F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 500px;
  left: 203px;
  -webkit-animation: barridoTexto 4s ease-in-out forwards;
          animation: barridoTexto 4s ease-in-out forwards;
}

@-webkit-keyframes barridoTexto {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes barridoTexto {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media only screen and (max-width: 425px) {
  #home .intro h1 {
    font-size: 2rem;
  }
}

#home .intro h1 hr {
  width: 190px;
  height: 30px;
  border: solid 3px #FFFFFF;
  border-color: #DDAA8F transparent transparent transparent;
  border-radius: 80%/25px 25px 0 0;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  position: relative;
  bottom: 1rem;
  left: 8rem;
}

#home .contenedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  position: relative;
  bottom: 90px;
  -webkit-animation: apareceLibro 2s linear forwards;
          animation: apareceLibro 2s linear forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  opacity: 0;
}

@-webkit-keyframes apareceLibro {
  100% {
    opacity: 1;
  }
}

@keyframes apareceLibro {
  100% {
    opacity: 1;
  }
}

#home .contenedor .book {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  height: 500px;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-animation: grow 2s ease forwards;
          animation: grow 2s ease forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes grow {
  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

@keyframes grow {
  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

#home .contenedor .book .front {
  width: 390px;
  height: 530px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform: translate(-35px, -20px);
          transform: translate(-35px, -20px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  -webkit-animation: abrirFront 1s linear forwards;
          animation: abrirFront 1s linear forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes abrirFront {
  100% {
    -webkit-transform: rotateY(-160deg) scale(1.3);
            transform: rotateY(-160deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes abrirFront {
  100% {
    -webkit-transform: rotateY(-160deg) scale(1.3);
            transform: rotateY(-160deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

#home .contenedor .book .page1 {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #B4A99A;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  -webkit-animation: abrirPage1 1s linear forwards;
          animation: abrirPage1 1s linear forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes abrirPage1 {
  100% {
    -webkit-transform: rotateY(-150deg) scale(1.3);
            transform: rotateY(-150deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes abrirPage1 {
  100% {
    -webkit-transform: rotateY(-150deg) scale(1.3);
            transform: rotateY(-150deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

#home .contenedor .book .page2 {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #B4A99A;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  -webkit-animation: abrirPage2 1s linear forwards;
          animation: abrirPage2 1s linear forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes abrirPage2 {
  100% {
    -webkit-transform: rotateY(-30deg) scale(1.3);
            transform: rotateY(-30deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes abrirPage2 {
  100% {
    -webkit-transform: rotateY(-30deg) scale(1.3);
            transform: rotateY(-30deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

#home .contenedor .book .page3 {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #b1aba2;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  -webkit-animation: abrirPage3 1s linear forwards;
          animation: abrirPage3 1s linear forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes abrirPage3 {
  100% {
    -webkit-transform: rotateY(-140deg) scale(1.3);
            transform: rotateY(-140deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes abrirPage3 {
  100% {
    -webkit-transform: rotateY(-140deg) scale(1.3);
            transform: rotateY(-140deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

#home .contenedor .book .page4 {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #b1aba2;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  -webkit-animation: abrirPage4 1s linear forwards;
          animation: abrirPage4 1s linear forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes abrirPage4 {
  100% {
    -webkit-transform: rotateY(-40deg) scale(1.3);
            transform: rotateY(-40deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes abrirPage4 {
  100% {
    -webkit-transform: rotateY(-40deg) scale(1.3);
            transform: rotateY(-40deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

#home .contenedor .book .page5 {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #B4A99A;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  -webkit-animation: abrirPage5 1s linear forwards;
          animation: abrirPage5 1s linear forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes abrirPage5 {
  100% {
    -webkit-transform: rotateY(-130deg) scale(1.3);
            transform: rotateY(-130deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes abrirPage5 {
  100% {
    -webkit-transform: rotateY(-130deg) scale(1.3);
            transform: rotateY(-130deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

#home .contenedor .book .page6 {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #B4A99A;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  -webkit-animation: abrirPage6 1s linear forwards;
          animation: abrirPage6 1s linear forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes abrirPage6 {
  100% {
    -webkit-transform: rotateY(-50deg) scale(1.3);
            transform: rotateY(-50deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes abrirPage6 {
  100% {
    -webkit-transform: rotateY(-50deg) scale(1.3);
            transform: rotateY(-50deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

#home .contenedor .book .back {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, -webkit-transform .5s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  -webkit-animation: abrirBack 1s linear forwards;
          animation: abrirBack 1s linear forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes abrirBack {
  100% {
    -webkit-transform: rotateY(-20deg) scale(1.3);
            transform: rotateY(-20deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes abrirBack {
  100% {
    -webkit-transform: rotateY(-20deg) scale(1.3);
            transform: rotateY(-20deg) scale(1.3);
    -webkit-box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  }
}

#quienesSomos {
  background: #B4A99A;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#quienesSomos nav {
  padding-top: 2rem;
}

#quienesSomos nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#quienesSomos nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#quienesSomos section .story-telling {
  font-family: 'Aladin';
  font-weight: 400;
  font-size: 5.625rem;
  line-height: 110px;
  text-align: center;
  color: #FAF4F4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 20%;
  opacity: 0.0;
  -webkit-animation: fadeIn ease-in-out 3s forwards;
          animation: fadeIn ease-in-out 3s forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#quienesSomos section .story-telling span {
  letter-spacing: -1rem;
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  -webkit-animation: smoky 2.5s 1.5s both;
          animation: smoky 2.5s 1.5s both;
}

#quienesSomos section .story-telling span:nth-child(even) {
  -webkit-animation-name: smoky-mirror;
          animation-name: smoky-mirror;
}

@-webkit-keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@-webkit-keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) scale(2);
            transform: translate3d(18rem, -8rem, 0) rotate(-40deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) scale(2);
            transform: translate3d(18rem, -8rem, 0) rotate(-40deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

#quienesSomos section .story-telling span:nth-of-type(1) {
  -webkit-animation-delay: 4.0125s;
          animation-delay: 4.0125s;
}

#quienesSomos section .story-telling span:nth-of-type(2) {
  -webkit-animation-delay: 4.025s;
          animation-delay: 4.025s;
}

#quienesSomos section .story-telling span:nth-of-type(3) {
  -webkit-animation-delay: 4.0375s;
          animation-delay: 4.0375s;
}

#quienesSomos section .story-telling span:nth-of-type(4) {
  -webkit-animation-delay: 4.05s;
          animation-delay: 4.05s;
}

#quienesSomos section .story-telling span:nth-of-type(5) {
  -webkit-animation-delay: 4.0625s;
          animation-delay: 4.0625s;
}

#quienesSomos section .story-telling span:nth-of-type(6) {
  -webkit-animation-delay: 4.075s;
          animation-delay: 4.075s;
}

#quienesSomos section .story-telling span:nth-of-type(7) {
  -webkit-animation-delay: 4.0875s;
          animation-delay: 4.0875s;
}

#quienesSomos section .story-telling span:nth-of-type(8) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

#quienesSomos section .story-telling span:nth-of-type(9) {
  -webkit-animation-delay: 4.1125s;
          animation-delay: 4.1125s;
}

#quienesSomos section .story-telling span:nth-of-type(10) {
  -webkit-animation-delay: 4.125s;
          animation-delay: 4.125s;
}

#quienesSomos section .story-telling span:nth-of-type(11) {
  -webkit-animation-delay: 4.1375s;
          animation-delay: 4.1375s;
}

#quienesSomos section .story-telling span:nth-of-type(12) {
  -webkit-animation-delay: 4.15s;
          animation-delay: 4.15s;
}

#quienesSomos section .story-telling span:nth-of-type(13) {
  -webkit-animation-delay: 4.1625s;
          animation-delay: 4.1625s;
}

#quienesSomos section .story-telling span:nth-of-type(14) {
  -webkit-animation-delay: 4.175s;
          animation-delay: 4.175s;
}

#quienesSomos section .story-telling span:nth-of-type(15) {
  -webkit-animation-delay: 4.1875s;
          animation-delay: 4.1875s;
}

#quienesSomos section .story-telling span:nth-of-type(16) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

#quienesSomos section .story-telling span:nth-of-type(17) {
  -webkit-animation-delay: 4.2125s;
          animation-delay: 4.2125s;
}

#quienesSomos section .story-telling span:nth-of-type(18) {
  -webkit-animation-delay: 4.225s;
          animation-delay: 4.225s;
}

#quienesSomos section .story-telling span:nth-of-type(19) {
  -webkit-animation-delay: 4.2375s;
          animation-delay: 4.2375s;
}

#quienesSomos section .story-telling span:nth-of-type(20) {
  -webkit-animation-delay: 4.25s;
          animation-delay: 4.25s;
}

#quienesSomos section .story-telling span:nth-of-type(21) {
  -webkit-animation-delay: 4.2625s;
          animation-delay: 4.2625s;
}

#quienesSomos section .story-telling span:nth-of-type(22) {
  -webkit-animation-delay: 4.275s;
          animation-delay: 4.275s;
}

#quienesSomos section .story-telling span:nth-of-type(23) {
  -webkit-animation-delay: 4.2875s;
          animation-delay: 4.2875s;
}

#quienesSomos section .story-telling span:nth-of-type(24) {
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

#quienesSomos section .story-telling span:nth-of-type(25) {
  -webkit-animation-delay: 4.3125s;
          animation-delay: 4.3125s;
}

#quienesSomos section .story-telling span:nth-of-type(26) {
  -webkit-animation-delay: 4.325s;
          animation-delay: 4.325s;
}

#quienesSomos section .story-telling span:nth-of-type(27) {
  -webkit-animation-delay: 4.3375s;
          animation-delay: 4.3375s;
}

#quienesSomos section .story-telling span:nth-of-type(28) {
  -webkit-animation-delay: 4.35s;
          animation-delay: 4.35s;
}

#quienesSomos section .story-telling span:nth-of-type(29) {
  -webkit-animation-delay: 4.3625s;
          animation-delay: 4.3625s;
}

#quienesSomos section .story-telling span:nth-of-type(30) {
  -webkit-animation-delay: 4.375s;
          animation-delay: 4.375s;
}

#quienesSomos section .story-telling span:nth-of-type(31) {
  -webkit-animation-delay: 4.3875s;
          animation-delay: 4.3875s;
}

#quienesSomos section .story-telling span:nth-of-type(32) {
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}

#quienesSomos section .story-telling span:nth-of-type(33) {
  -webkit-animation-delay: 4.4125s;
          animation-delay: 4.4125s;
}

#quienesSomos section .story-telling span:nth-of-type(34) {
  -webkit-animation-delay: 4.425s;
          animation-delay: 4.425s;
}

#quienesSomos section .story-telling span:nth-of-type(35) {
  -webkit-animation-delay: 4.4375s;
          animation-delay: 4.4375s;
}

#quienesSomos section .story-telling span:nth-of-type(36) {
  -webkit-animation-delay: 4.45s;
          animation-delay: 4.45s;
}

#quienesSomos section .story-telling span:nth-of-type(37) {
  -webkit-animation-delay: 4.4625s;
          animation-delay: 4.4625s;
}

#quienesSomos section .story-telling span:nth-of-type(38) {
  -webkit-animation-delay: 4.475s;
          animation-delay: 4.475s;
}

#quienesSomos section .story-telling span:nth-of-type(39) {
  -webkit-animation-delay: 4.4875s;
          animation-delay: 4.4875s;
}

#quienesSomos section .story-telling span:nth-of-type(40) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

#quienesSomos section .story-telling span:nth-of-type(41) {
  -webkit-animation-delay: 4.5125s;
          animation-delay: 4.5125s;
}

#quienesSomos section .story-telling span:nth-of-type(42) {
  -webkit-animation-delay: 4.525s;
          animation-delay: 4.525s;
}

#quienesSomos section .story-telling span:nth-of-type(43) {
  -webkit-animation-delay: 4.5375s;
          animation-delay: 4.5375s;
}

#quienesSomos section .story-telling span:nth-of-type(44) {
  -webkit-animation-delay: 4.55s;
          animation-delay: 4.55s;
}

#quienesSomos section .story-telling span:nth-of-type(45) {
  -webkit-animation-delay: 4.5625s;
          animation-delay: 4.5625s;
}

#quienesSomos section .story-telling span:nth-of-type(46) {
  -webkit-animation-delay: 4.575s;
          animation-delay: 4.575s;
}

#quienesSomos section .story-telling span:nth-of-type(47) {
  -webkit-animation-delay: 4.5875s;
          animation-delay: 4.5875s;
}

#quienesSomos section .story-telling span:nth-of-type(48) {
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}

#quienesSomos section .story-telling span:nth-of-type(49) {
  -webkit-animation-delay: 4.6125s;
          animation-delay: 4.6125s;
}

#quienesSomos section .story-telling span:nth-of-type(50) {
  -webkit-animation-delay: 4.625s;
          animation-delay: 4.625s;
}

#quienesSomos section .story-telling span:nth-of-type(51) {
  -webkit-animation-delay: 4.6375s;
          animation-delay: 4.6375s;
}

#quienesSomos section .story-telling span:nth-of-type(52) {
  -webkit-animation-delay: 4.65s;
          animation-delay: 4.65s;
}

#quienesSomos section .story-telling span:nth-of-type(53) {
  -webkit-animation-delay: 4.6625s;
          animation-delay: 4.6625s;
}

#quienesSomos section .story-telling span:nth-of-type(54) {
  -webkit-animation-delay: 4.675s;
          animation-delay: 4.675s;
}

#quienesSomos section .story-telling span:nth-of-type(55) {
  -webkit-animation-delay: 4.6875s;
          animation-delay: 4.6875s;
}

#quienesSomos section .story-telling span:nth-of-type(56) {
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
}

#quienesSomos section .story-telling span:nth-of-type(57) {
  -webkit-animation-delay: 4.7125s;
          animation-delay: 4.7125s;
}

#quienesSomos section .story-telling span:nth-of-type(58) {
  -webkit-animation-delay: 4.725s;
          animation-delay: 4.725s;
}

#quienesSomos section .story-telling span:nth-of-type(59) {
  -webkit-animation-delay: 4.7375s;
          animation-delay: 4.7375s;
}

#quienesSomos section .story-telling span:nth-of-type(60) {
  -webkit-animation-delay: 4.75s;
          animation-delay: 4.75s;
}

#quienesSomos section .story-telling span:nth-of-type(61) {
  -webkit-animation-delay: 4.7625s;
          animation-delay: 4.7625s;
}

#quienesSomos section .story-telling span:nth-of-type(62) {
  -webkit-animation-delay: 4.775s;
          animation-delay: 4.775s;
}

#quienesSomos section .story-telling span:nth-of-type(63) {
  -webkit-animation-delay: 4.7875s;
          animation-delay: 4.7875s;
}

#quienesSomos section .story-telling span:nth-of-type(64) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

#quienesSomos section .story-telling span:nth-of-type(65) {
  -webkit-animation-delay: 4.8125s;
          animation-delay: 4.8125s;
}

#quienesSomos section .story-telling span:nth-of-type(66) {
  -webkit-animation-delay: 4.825s;
          animation-delay: 4.825s;
}

#quienesSomos section .story-telling span:nth-of-type(67) {
  -webkit-animation-delay: 4.8375s;
          animation-delay: 4.8375s;
}

#quienesSomos section .story-telling span:nth-of-type(68) {
  -webkit-animation-delay: 4.85s;
          animation-delay: 4.85s;
}

#quienesSomos section .story-telling span:nth-of-type(69) {
  -webkit-animation-delay: 4.8625s;
          animation-delay: 4.8625s;
}

#quienesSomos section .story-telling span:nth-of-type(70) {
  -webkit-animation-delay: 4.875s;
          animation-delay: 4.875s;
}

#quienesSomos section .story-telling span:nth-of-type(71) {
  -webkit-animation-delay: 4.8875s;
          animation-delay: 4.8875s;
}

#quienesSomos section .story-telling span:nth-of-type(72) {
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}

#quienesSomos section .story-telling span:nth-of-type(73) {
  -webkit-animation-delay: 4.9125s;
          animation-delay: 4.9125s;
}

#quienesSomos section .story-telling span:nth-of-type(74) {
  -webkit-animation-delay: 4.925s;
          animation-delay: 4.925s;
}

#quienesSomos section .story-telling span:nth-of-type(75) {
  -webkit-animation-delay: 4.9375s;
          animation-delay: 4.9375s;
}

#quienesSomos section .story-telling span:nth-of-type(76) {
  -webkit-animation-delay: 4.95s;
          animation-delay: 4.95s;
}

#quienesSomos section .segundo {
  opacity: 0.0;
  -webkit-animation: fadeIn2 ease-in-out 8s;
          animation: fadeIn2 ease-in-out 8s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
}

#quienesSomos section .contenedor-nosotros {
  margin-top: 3rem;
  opacity: 0.0;
  -webkit-animation: fadeIn3 ease-in-out 4s forwards;
          animation: fadeIn3 ease-in-out 4s forwards;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

@-webkit-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos :nth-child(1) {
  width: 213px;
  height: 167px;
  position: absolute;
  left: 80px;
  top: 157px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos :nth-child(2) {
  width: 75px;
  height: 80px;
  position: absolute;
  top: 70px;
  left: 400px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos :nth-child(3) {
  width: 76px;
  height: 100px;
  position: absolute;
  top: 70px;
  left: 1050px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos :nth-child(4) {
  width: 167;
  height: 147px;
  position: absolute;
  top: 127px;
  left: 1204px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos2 :nth-child(1) {
  width: 155px;
  height: 102px;
  position: absolute;
  top: 498px;
  left: 76px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos2 :nth-child(2) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos2 :nth-child(3) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos2 :nth-child(4) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos2 :nth-child(5) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos3 :nth-child(1) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos3 :nth-child(2) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos3 :nth-child(3) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos3 :nth-child(4) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-objetos3 :nth-child(5) {
  width: 50px;
  height: 50px;
}

#quienesSomos section .contenedor-nosotros .contenedor-texto {
  width: 54rem;
  height: 34.75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#7846A6), to(#7846A6));
  background: linear-gradient(180deg, #7846A6 0%, #7846A6 100%);
  -webkit-box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

#quienesSomos section .contenedor-nosotros .contenedor-texto h3 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  color: #FFFFFF;
  margin: 1.5rem 0 1rem 0;
  -webkit-animation: glow 2500ms linear infinite 2000ms;
          animation: glow 2500ms linear infinite 2000ms;
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

#quienesSomos section .contenedor-nosotros .contenedor-texto p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  color: #FFFFFF;
  margin: 0 6rem 1rem 6rem;
}

#quienesSomos section .contenedor-nosotros .contenedor-texto p span {
  font-weight: bolder;
}

#propuestas {
  background: radial-gradient(31.15% 53.79% at 50% 45.61%, #E3DDD3 22.4%, #B4A99A 99.9%);
  opacity: 0.8;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#propuestas nav {
  padding-top: 2rem;
}

#propuestas nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#propuestas nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#propuestas section h3 {
  font-family: 'Aladin';
  font-weight: 400;
  font-size: 5.625rem;
  line-height: 110px;
  text-align: center;
  color: #FAF4F4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  margin: 2rem auto 0 auto;
}

#propuestas section .contenedor-libros {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#propuestas section .contenedor-libros a {
  z-index: 1;
}

#propuestas section .contenedor-libros a img {
  -webkit-transform: rotate3d(1, 0, 0, -25deg);
          transform: rotate3d(1, 0, 0, -25deg);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

#propuestas section .contenedor-libros a img:hover {
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
          transform: rotate3d(1, 0, 0, 0deg);
}

#propuestas section .contenedor-libros a .libro1 {
  height: 473px;
}

#propuestas section .contenedor-libros a .libro2 {
  height: 411px;
  margin-top: 3.3rem;
}

#propuestas section .contenedor-libros a .libro3 {
  height: 476px;
}

#propuestas section .contenedor-libros a .libro4 {
  height: 452px;
  margin-top: 1.3rem;
}

#propuestas section .contenedor-libros a .libro5 {
  height: 420px;
  margin-top: 3.3rem;
}

#propuestas section .contenedor-cta {
  width: 73.75rem;
  height: 5.75rem;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 217, 217, 0.41)), to(#D9D9D9));
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.41) 0%, #D9D9D9 100%);
  -webkit-box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

#propuestas section .contenedor-cta p {
  font-family: 'Julius Sans One';
  font-weight: 400;
  font-size: 1.75rem;
  text-align: center;
  color: #000000;
  padding-top: 1.5rem;
}

#universoAventura {
  background-image: url("/Multimedia/bg-aventura.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#universoAventura nav {
  padding-top: 2rem;
}

#universoAventura nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#universoAventura nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#universoAventura .volver {
  position: relative;
  top: 20rem;
  left: 73rem;
  z-index: 3;
  border: 1px solid #F3EFEF;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 4rem;
}

#universoAventura .volver a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  color: #FFFFFF;
}

#universoEspacio {
  background-image: url("/Multimedia/bg-espacio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -1px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#universoEspacio nav {
  padding-top: 2rem;
}

#universoEspacio nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#universoEspacio nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#universoEspacio section {
  height: 100%;
}

#universoEspacio section .titulo-propuesta {
  font-family: 'Aladin';
  font-weight: 400;
  font-size: 5.625rem;
  line-height: 110px;
  color: #FAF4F4;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  top: 8rem;
  left: 4rem;
  z-index: 2;
}

#universoEspacio section .contenedor-astronauta {
  position: relative;
  top: 20rem;
  z-index: 1;
  -webkit-animation: rotateAstro 5s linear infinite;
          animation: rotateAstro 5s linear infinite;
}

@-webkit-keyframes rotateAstro {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes rotateAstro {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

#universoEspacio section .contenedor-astronauta .astronauta {
  width: 15rem;
  -webkit-animation: moveAstro 5s linear infinite;
          animation: moveAstro 5s linear infinite;
}

@-webkit-keyframes moveAstro {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
  50% {
    -webkit-transform: translate3d(100px, 100px, 0);
            transform: translate3d(100px, 100px, 0);
  }
  75% {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
}

@keyframes moveAstro {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
  50% {
    -webkit-transform: translate3d(100px, 100px, 0);
            transform: translate3d(100px, 100px, 0);
  }
  75% {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
}

#universoEspacio section .texto-propuesta {
  position: relative;
  top: 5rem;
  left: 22.6rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#universoEspacio section .texto-propuesta p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#universoEspacio .volver {
  position: relative;
  top: 20rem;
  left: 73rem;
  z-index: 3;
  border: 1px solid #F3EFEF;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 4rem;
}

#universoEspacio .volver a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  color: #FFFFFF;
}

#universoIslaPirata {
  background-image: url("/Multimedia/bg-piratas.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#universoIslaPirata nav {
  padding-top: 2rem;
}

#universoIslaPirata nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#universoIslaPirata nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#universoIslaPirata section {
  height: 100%;
}

#universoIslaPirata section .titulo-propuesta {
  font-family: 'Aladin';
  font-weight: 400;
  font-size: 5.625rem;
  line-height: 110px;
  color: #FAF4F4;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  top: 8rem;
  left: 4rem;
  z-index: 2;
}

#universoIslaPirata section .contenedor-barco {
  position: relative;
  top: 1.1rem;
  left: 72rem;
  bottom: 0.5rem;
  z-index: 1;
  -webkit-animation: moveBoat 4s linear forwards;
          animation: moveBoat 4s linear forwards;
}

@-webkit-keyframes moveBoat {
  0% {
    -webkit-transform: translate(0rem);
            transform: translate(0rem);
  }
  20% {
    -webkit-transform: translate(-15rem);
            transform: translate(-15rem);
  }
  40% {
    -webkit-transform: translate(-30rem);
            transform: translate(-30rem);
  }
  60% {
    -webkit-transform: translate(-45rem);
            transform: translate(-45rem);
  }
  80% {
    -webkit-transform: translate(-60rem);
            transform: translate(-60rem);
  }
  100% {
    -webkit-transform: translate(-75rem);
            transform: translate(-75rem);
  }
}

@keyframes moveBoat {
  0% {
    -webkit-transform: translate(0rem);
            transform: translate(0rem);
  }
  20% {
    -webkit-transform: translate(-15rem);
            transform: translate(-15rem);
  }
  40% {
    -webkit-transform: translate(-30rem);
            transform: translate(-30rem);
  }
  60% {
    -webkit-transform: translate(-45rem);
            transform: translate(-45rem);
  }
  80% {
    -webkit-transform: translate(-60rem);
            transform: translate(-60rem);
  }
  100% {
    -webkit-transform: translate(-75rem);
            transform: translate(-75rem);
  }
}

#universoIslaPirata section .contenedor-barco .barco {
  width: 50rem;
  -webkit-animation: rotateBoat 4s linear infinite;
          animation: rotateBoat 4s linear infinite;
}

@-webkit-keyframes rotateBoat {
  20% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes rotateBoat {
  20% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

#universoIslaPirata section .texto-propuesta {
  position: relative;
  top: 5rem;
  right: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#universoIslaPirata section .texto-propuesta p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#universoIslaPirata section .piratas-ola {
  height: 130px;
  position: relative;
  top: 38.2rem;
  right: 108.2rem;
  z-index: 3;
}

#universoIslaPirata .volver {
  position: relative;
  bottom: 4rem;
  left: 73rem;
  z-index: 3;
  border: 1px solid #F3EFEF;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 4rem;
}

#universoIslaPirata .volver a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  color: #FFFFFF;
}

#universoLigaHeroica {
  background-image: url("/Multimedia/bg-liga.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#universoLigaHeroica nav {
  padding-top: 2rem;
}

#universoLigaHeroica nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#universoLigaHeroica nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#universoLigaHeroica section {
  height: 100%;
}

#universoLigaHeroica section .titulo-propuesta {
  font-family: 'Aladin';
  font-weight: 400;
  font-size: 5.625rem;
  line-height: 110px;
  color: #FAF4F4;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  top: 8rem;
  left: 4rem;
  z-index: 2;
}

#universoLigaHeroica section .contenedor-heroe {
  position: relative;
  top: 20rem;
  z-index: 1;
  -webkit-animation: 5s linear infinite;
          animation: 5s linear infinite;
}

@keyframes rotateAstro {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

#universoLigaHeroica section .contenedor-heroe .heroe {
  width: 15rem;
  -webkit-animation: 5s linear infinite;
          animation: 5s linear infinite;
}

@keyframes moveAstro {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
  50% {
    -webkit-transform: translate3d(100px, 100px, 0);
            transform: translate3d(100px, 100px, 0);
  }
  75% {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
}

#universoLigaHeroica section .contenedor-heroina {
  position: relative;
  top: 24rem;
  z-index: 1;
  -webkit-animation: 5s linear infinite;
          animation: 5s linear infinite;
}

@keyframes rotateAstro {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

#universoLigaHeroica section .contenedor-heroina .heroina {
  width: 12rem;
  -webkit-animation: 5s linear infinite;
          animation: 5s linear infinite;
}

@keyframes moveAstro {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
  50% {
    -webkit-transform: translate3d(100px, 100px, 0);
            transform: translate3d(100px, 100px, 0);
  }
  75% {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
}

#universoLigaHeroica section .texto-propuesta {
  position: relative;
  top: 5rem;
  left: 10.1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#universoLigaHeroica section .texto-propuesta p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#universoLigaHeroica .volver {
  position: relative;
  top: 20rem;
  left: 73rem;
  z-index: 3;
  border: 1px solid #F3EFEF;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 4rem;
}

#universoLigaHeroica .volver a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  color: #FFFFFF;
}

#universoMagia {
  background-image: url("/Multimedia/bg-magia.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#universoMagia nav {
  padding-top: 2rem;
}

#universoMagia nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#universoMagia nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#universoMagia .volver {
  position: relative;
  top: 20rem;
  left: 73rem;
  z-index: 3;
  border: 1px solid #F3EFEF;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 4rem;
}

#universoMagia .volver a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  color: #FFFFFF;
}

#galeriaFotos {
  background: radial-gradient(31.15% 53.79% at 50% 45.61%, #E3DDD3 22.4%, #B4A99A 99.9%);
  opacity: 0.8;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#galeriaFotos nav {
  padding-top: 2rem;
}

#galeriaFotos nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#galeriaFotos nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#contacto {
  background-image: url("../Multimedia/bg-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#contacto nav {
  padding-top: 2rem;
}

#contacto nav ul li a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.125rem;
  color: #F3EFEF;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#contacto nav ul li .active {
  border: 1px solid #F9F3F3;
  border-radius: 25px;
  font-weight: 600;
}

#contacto form {
  width: 1170px;
  height: 630px;
  background: rgba(253, 249, 249, 0.75);
  border: 1px solid rgba(44, 38, 108, 0.33);
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 57px 57px 0px;
}

#contacto form h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #7846A6;
  text-transform: uppercase;
  margin: 2.25rem 0 0 3rem;
}

#contacto form .form-column-1 {
  margin: 1rem 1.5rem 0 3rem;
}

#contacto form .form-column-1 .container-nombre-apellido input {
  width: 14.25rem;
}

#contacto form .form-column-2 {
  margin: 1rem 0 0 1.5rem;
}

#contacto form label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 0;
}

#contacto form input {
  width: 29.25rem;
  height: 2.25rem;
  background: rgba(247, 236, 236, 0.75);
  border-radius: 15px;
}

#contacto form textarea {
  background: rgba(247, 236, 236, 0.75);
  border-radius: 15px;
}

#contacto form button {
  width: 8.75rem;
  height: 2.5rem;
  margin: 1rem 6rem 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #7846A6;
  -webkit-box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: #FFFFFF;
}

#contacto .redes-sociales {
  float: right;
  margin-right: 1rem;
  position: relative;
  bottom: 6rem;
}

#contacto .redes-sociales img {
  width: 3rem;
  padding-top: 0.5rem;
  -webkit-filter: drop-shadow(-5px 8px 4px rgba(0, 0, 0, 0.37));
          filter: drop-shadow(-5px 8px 4px rgba(0, 0, 0, 0.37));
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */