#confirmacion{

    @import '../SCSS/componentes/navbar';
    
    background-image: url("../Multimedia/bg-contacto.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: scroll;
    min-height: 100vh;

    /*Desktop*/
    @media only screen and (max-width:768px){
        background-image: url("../Multimedia/bg-mobile-contacto.png");
    }
   

    .mensajeFinal{
        display: flex;
        justify-content: center;
        align-items: center;

        width: fit-content;
        height: fit-content;
        padding: 2rem 2rem 1rem 2rem;
        
        position: absolute;
       
        top: 39.84%;

        background: rgba(253, 249, 249, 0.75);
        border: 1px solid rgba(44, 38, 108, 0.33);
        box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.25);
        border-radius: 57px;

        /*mobile*/
        @media only screen and (max-width:768px){
            padding: 0.5rem 1rem 0 1rem;
        }

        p{
            width: 90%;
            font-family: 'Julius Sans One';
            font-weight: 400;
            font-size: 1.75rem;
            line-height: 31px;
            text-align: center;
            color: #613689;
            
            /*mobile*/
            @media only screen and (max-width:768px){
                font-size: 1rem;
            }
        }
    }

    .redes-sociales{
        position: absolute;
        left: 93%;
        bottom: 10%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        /*mobile*/
        @media only screen and (max-width:768px){
            flex-direction: row;
            justify-content: space-evenly;

            width: 50%;
            left: 25%;
            top: 500px;
        }

        img{
            width: 3rem;
            padding-top: 0.5rem;
            filter: drop-shadow(-5px 8px 4px rgba(0, 0, 0, 0.37));
        }
    }

}