#galeriaFotos{

    @import '../SCSS/componentes/navbar';

    background: radial-gradient(31.15% 53.79% at 50% 45.61%, #E3DDD3 22.4%, #B4A99A 99.9%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.8;
    

    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
}