#quienesSomos{

    @import '../SCSS/componentes/navbar';

    background:#B4A99A;
    min-height: 100vh;
    min-width: 100vw;


    section{

        .story-telling{
            font-family: 'Aladin';
            font-weight: 400;
            font-size: 5.625rem;
            line-height: 110px;
            text-align: center;
            color: #FAF4F4;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            margin: 0 auto;
            position: absolute;
            top:20%;

            opacity: 0.0;
            animation: fadeIn ease-in-out 3s forwards;

            @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            span {
                letter-spacing: -1rem;
                display: inline-block;
                text-shadow: 0 0 0 whitesmoke;
                animation: smoky 2.5s 1.5s both;
            }
              
            span:nth-child(even){
                animation-name: smoky-mirror;
            }
              
            @keyframes smoky {
                60% {
                  text-shadow: 0 0 40px whitesmoke;
                }
                to {
                  transform:
                    translate3d(15rem,-8rem,0)
                    rotate(-40deg)
                    skewX(70deg)
                    scale(1.5);
                  text-shadow: 0 0 20px whitesmoke;
                  opacity: 0;
                }
            }
              
            @keyframes smoky-mirror {
                60% {
                  text-shadow: 0 0 40px whitesmoke; }
                to {
                  transform:
                    translate3d(18rem,-8rem,0)
                    rotate(-40deg) 
                   
                    scale(2);
                   text-shadow: 0 0 20px whitesmoke;
                   opacity: 0;
                }
            }
              
            @for $item from 1 through 76 {
                span:nth-of-type(#{$item}){ 
                  animation-delay: #{(4 + ($item/80))}s; 
                }
            } 
        }

        .segundo{
            opacity: 0.0;
            animation: fadeIn2 ease-in-out 8s;
            animation-delay: 6s;

            @keyframes fadeIn2 {
            0% {opacity:0;}
            50% {opacity:1;}
            75% {opacity:0.5;}
            }
        }

        .contenedor-nosotros{
            position: relative;
            width: 100%;
            height: 100%;
            margin-top: 1%;
          
            opacity: 0.0;
            animation: fadeIn3 ease-in-out 4s forwards;
            //animation-delay: 12s;

            @keyframes fadeIn3 {
            0% {opacity:0;}
            100% {opacity:1;}
            }

            .contenedor-objetos{
                width: 100%;
           
                :nth-child(1){
                   width: 12.5%;
                    
                    position: absolute;
                    top: 0px;
                    left: 5%;
                }

                :nth-child(2){
                    width: 5%;

                    position: absolute;
                    top:-4%;
                    left: 30%;   
                }

                :nth-child(3){
                    width: 7.5%;

                    position: absolute;
                    top: -5%;
                    left: 65%;
                }

                :nth-child(4){
                    width: 12.5%;

                    position: absolute;
                    top: 1%;
                    left: 85%;  
                }
            }

            .contenedor-objetos2{
                width: 100%;

                :nth-child(1){
                    width: 10%;

                    position: absolute;
                    top: 60%;
                    left: 3.5%;
                }

                :nth-child(2){
                    width: 8%;

                    position: absolute;
                    top: 35%;
                    left: 12.5%;
                }

                :nth-child(3){
                    width: 8%;

                    position: absolute;
                    top: 82%;
                    left: 78%;
                }

                :nth-child(4){
                    width: 8%;

                    position: absolute;
                    top: 40%;
                    left: 79%;
                }

                :nth-child(5){
                    width: 8%;
                    

                    transform: rotate(-25deg);
                    position: absolute;
                    top: 35%;
                    left: 93%;
                }
            }

            .contenedor-objetos3{
                :nth-child(1){
                    width: 20%;

                    position: absolute;
                    top: 75%;
                    left: 3.5%;
                }

                :nth-child(2){
                    width: 10%;

                    position: absolute;
                    top: 95%;
                    left:30%;
                }

                :nth-child(3){
                    width: 7.5%;

                    position: absolute;
                    top: 90%;
                    left:50%;
                    
                    transform: rotate(20deg);
                }

                :nth-child(4){
                    width: 5%;

                    position: absolute;
                    top: 90%;
                    left:65%;
                }

                :nth-child(5){
                    width: 20%;

                    position: absolute;
                    top: 78%;
                    left:82%;
                }
            }

            .contenedor-texto{
                width: 68%;
               
                margin: 1rem auto;

                background: linear-gradient(180deg, #7846A6 0%, #7846A6 100%);
                box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.25);
                border-radius: 30px;

                h3{
                    font-family: 'Poppins';
                    font-weight: 700;
                    font-size: 1.75rem;
                    text-align: center;
                    color: #FFFFFF;
                    margin: 1.5rem 0 1rem 0;

                    animation: glow 2500ms linear infinite 2000ms;

                    @keyframes glow {
                        40% {
                            text-shadow: 0 0 8px #fff;
                        }
                    }
                }

                p{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.75rem;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 0 1rem;

                    span{
                        font-weight: bolder;
                    }
                }
            }
            
        }
    }  
}