#universoLigaHeroica{

    @import '../SCSS/componentes/navbar';

    background-image: url("/Multimedia/bg-liga.png");
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
    
    section{

        height: 100%;

        .titulo-propuesta{
            font-family: 'Aladin';
            font-weight: 400;
            font-size: 5.625rem;
            line-height: 110px;
            color: #FAF4F4;
            text-transform: uppercase;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            height: fit-content;
            min-width: fit-content; 

            position: relative;
            top: 8rem;
            left: 4rem;
            z-index: 2;     
        }
    
        .contenedor-heroe{
            position: relative;
            top: 8rem;
            left: 35rem;
            z-index: 1;
            animation:  volarHeroe 1s linear forwards;
            animation-delay: 2s;
            opacity: 0;
    
            @keyframes volarHeroe {
                0%{
                    transform: translate3d(2000px,2000px,0px) rotate(-25deg) ;
                    opacity: 1;
                }
    
                50%{
                    transform: translate3d(-25px,-50px,0px) rotate(-12.5deg) ;
                }
               
                100%{
                    transform: translate3d(-100px,-150px,0px) rotate(0deg) ;
                    opacity: 1;
                }
            }
    
            .heroe{
                width: 15rem;
                animation: rotarHeroe 2s linear infinite;
                animation-delay: 2s;
    
                @keyframes rotarHeroe {
                    0%{
                        transform: rotate(0deg) ;
                    }
        
                    25%{
                        transform: rotate(10deg) ;
                    }
        
                    50%{
                        transform: rotate(0deg) ;
                    }
        
                    75%{
                        transform: rotate(-10deg) ;
                    }
                }
               
            }
        }  

        .contenedor-heroina{
            position: relative;
            top: 28rem;
            z-index: 1;
            animation: barridoHeroina 1s linear forwards;
            animation-delay: 2s;
            opacity: 0;
    
            @keyframes barridoHeroina {
                0%{
                    transform: translate3d(-2000px,0px,0px) ;
                    opacity: 1;
                }
    
                50%{
                    transform: translate3d(10px,0px,0px) ;
                    opacity: 1;
                }
    
                100%{
                    transform: translate3d(50px,0px,0px) ;
                    opacity: 1;
                }
            }
    
            .heroina{
                width: 12rem;
                animation: transporteHeroina 3s ease infinite;
                animation-delay: 3s;
            }
        
            @keyframes transporteHeroina {
                0%{
                    transform: translate3d(0,0,0)
                }

                50%{
                    transform: translate3d(-150px,0,0)
                }
            }
        }  
    
        .texto-propuesta{
            position: relative;
            top:15rem;
            left: 10.1rem;
            height: fit-content;

            p{
                width: 75%;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 0.8rem;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF; 
                position: absolute;
                left:250px; 
                top:170px;
                transform: translate(-50%,-50%);

                span{
                    font-style: italic;
                }
            }   
        }
    }

    .volver{
        position: relative;
        top: 20rem;
        left: 73rem;
        z-index: 3;

        border: 1px solid #F3EFEF;
        border-radius: 20px;

        width: fit-content;
        width: fit-content;
        padding: 0.5rem 1rem 0.5rem 1rem;

        .arrow{
            width: 20px;
            position: relative;
            bottom: 2px;
            right: 2px;
        }

        a{
            text-decoration: none;
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 1.125rem;
            text-align: center;
            color: #FFFFFF;
        }
    }
}