#universoMagia{

    @import '../SCSS/componentes/navbar';

    background-image: url("/Multimedia/bg-magia.png");
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
    
   
   
}