#universoIslaPirata{

    @import '../SCSS/componentes/navbar';

    background-image: url("/Multimedia/bg-piratas.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 822px;

    overflow-x: hidden;
    
   
    section{


        .titulo-propuesta{
            font-family: 'Aladin';
            font-weight: 400;
            font-size: 5.625rem;
            line-height: 110px;
            color: #FAF4F4;
            text-transform: uppercase;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            height: fit-content;
            min-width: fit-content; 

            position: absolute;
            top: 15%;
            left: 4rem;
            z-index: 2;     
        }
    
        .contenedor-barco{
            position: absolute;
            width: 40.5rem;
            top: 25%;
            left: 100%;
            z-index: 1;
            animation: moveBoat 4s linear forwards;

            @keyframes moveBoat {
                0%{
                    transform: translate(0rem)   ;
                }
             
                20%{
                    transform: translate(-30%) ;
                }
             
                40%{
                    transform: translate(-60%) ;
                }
             
                60%{
                    transform: translate(-90%);
                }
             
                80%{
                    transform: translate(-120%);
                }
             
                100%{
                    transform: translate(-150%);
                }
            }
    
            .barco{
                width: 100%;
                animation: rotateBoat 4s linear infinite;
    
                @keyframes rotateBoat {
                   
        
                    20%{
                        transform: rotate(-1deg) ;
                    }
        
                    40%{
                        transform: rotate(-5deg) ;
                    }
        
                    60%{
                        transform: rotate(-1deg) ;
                    }

                    80%{
                        transform: rotate(-5deg) ;
                    }

                    100%{
                        transform: rotate(-1deg) ;
                    }
                }
            } 
        }  
    
        .texto-propuesta{
            position: absolute;
            top:20%;
            right: 1%;
            height: fit-content;

            p{
                width: 70%;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 0.8rem;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF; 
                position: absolute;
                left:250px; 
                top:170px;
                transform: translate(-50%,-50%);

                span{
                    font-style: italic;
                }
            }   
        }

        .piratas-ola{
            height: 25%;
            position: absolute;
            top: 75%;
            left: 0%;
            z-index: 3;
        }
    }

    .volver{
        position: absolute;
        top: 92.5%;
        left: 80%;
        z-index: 3;

        border: 1px solid #F3EFEF;
        border-radius: 20px;

        width: fit-content;
        width: fit-content;
        padding: 0.5rem 1rem 0.5rem 1rem;

        .arrow{
            width: 20px;
            position: relative;
            bottom: 2px;
            right: 2px;
        }

        a{
            text-decoration: none;
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 1.125rem;
            text-align: center;
            color: #FFFFFF;
        }
    }
}