nav{
    padding-top: 2rem;
    ul{
        li{
            a{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 1.125rem;
                color: #F3EFEF;
                margin: 0 1rem;
            }
        }
    }
}