nav{
    z-index: 10;
    padding-top: 2rem;

    .logo-nav{
        width: 100px;
        margin-left: 2rem;
    }

    .navbar-toggler{
        background-color: white !important;
    }

    ul{
        li{
            a{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 1.125rem;
                color: #F3EFEF;
                margin: 0 1rem;
                padding: 0.25rem 1rem;
            }

            .active{
                border: 1px solid #F9F3F3;
                border-radius: 25px;
                font-weight: 600;
            }
        }
    }
}