nav{
    z-index: 10;
    padding-top: 2rem;

    .logo-nav{
        width: 100px;
        margin-left: 2rem;
    }

    .navbar-toggler{
        background-color: white !important;
    }

    ul{

        /*Mobile*/
        @media only screen and (max-width:768px){
            margin-bottom: 0 !important;
            margin-left: 0 !important;
            margin-right: -0.5rem;
            float: right;
        }

        li{
            a{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 1.125rem;
                color: #F3EFEF;
                margin: 0 1rem;
                padding: 0.25rem 1rem;

                /*Mobile*/
                @media only screen and (max-width:768px){
                    font-size: 0.75rem;
                    padding: 0.25rem 0rem;
                    text-align: center;
                }
            }

            .active{
                border: 1px solid #F9F3F3;
                border-radius: 25px;
                font-weight: 600;
            }
        }
    }
}